<html>

	<body>


		<h1> Hellow World ! </h1>
		
			<h3> Saisie de camion <h3>

	<form action="../control" method="POST">
		  Matriculation:<br>
		  <input type="text" name="mat" value=""><br>
		  Marque:<br>
		  <input type="text" name="brand" value=""><br><br>
		  Ville de location:<br>
		  <input type="text" name="cityLoc" value=""><br><br>
		  <input type="hidden" name="controlFunction" value="addCamion"><br><br>
		  <input type="submit" value="Submit">
	</form> 
	
	<h3> Recherche </h3>
	<form action="../control" method="POST">
		Camion : <input type="text" name="mat" /> <br>
		Son auteur : <input type="text" name="auteurLivre" /> <br>
		<input type="hidden" name="controlFunction" value="search" />
		<p> <input type="submit" value="Valider">
	</form>

	<body>





</html>