<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>B.F.C.E - Home</title>
<link href="view/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="reserve">
<div id="container">
	<div id="header">
		<h1>Best Flight Company Ever</h1>
		<h2>You're gonna be high in the air</h2>
	</div>
	<div id="middle">
		<div id="quicksearch">
			<form action="/controleur" method="POST">
				<fieldset>
				<legend>Flight Search</legend>
				<label for="dest">Destination</label>
				<input type="text" name="destination" value="">
				<label for="date">Date</label>
				<input type="text" name="date" class="date">
				<label for="date">Nombre de places à réserver</label>
				<input type="number" name="nbPlaces" value="1" min="1">
				<input type="hidden" name="controlFunction" value="reserver">
				<button type="submit" id="submit-go" class="submit">Search</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
</html>