<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>B.F.C.E - Home</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- <link href="./view/popup.css" rel="stylesheet" type="text/css" /> -->
<script type="text/javascript" src="script.js"></script>
</head>
<body>
<div id="container">
	<div id="header">
		<h1>Best Flight Company Ever</h1>
		<h2>You're gonna be high... in the air</h2>
	</div>
	<div id="middle">
		<div id="focus">
			<div id="navigation">
				<h3>Navigation</h3>
				<ul>
					<li><a href="../index.html" class="active">Home</a></li>
					<li><a href="#">Random useless column</a></li>
					<li><a href="#">Flat Flights List</a></li>
					<li><a href="#">Examples</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>

			<div id="quicksearch">
				<form action="controleur" method="POST">
					<fieldset>
					<legend>Sign In</legend>
					<label for="login">Login</label>
					<input type="text" name="login" value="">
					<label for="pass">Password</label>
          <input type="password" name="password" value="">
          <input type="hidden" name="controlFunction" value="signIn">
					<button type="submit" id="submit-go" class="submit">Log in</button>
					
					</fieldset>
					
				</form>
			</div>
		</div>
		<div id="content">
			<div class="row">
				<div class="onequartercolumn">
					<h3>Client Spotlight</h3>
					<p>Blablabla. This client is a great sponsor, and our biggest owner in terms of shares !</p>
				</div>
			
			<div id="dialog-form" title="Create new user">
			  <p class="validateTips">All form fields are required.</p>
			 <!-- INSCRIPTION -->
			  <form id="signin" action="controleur" method="POST">
				<fieldset>
					<label for="login">Login</label>
					<input type="text" name="login" id="login" value="" class="text ui-widget-content ui-corner-all">
					  
					<label for="password">Password</label>
					<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all">
									 
					<label for="surname">Surname</label>
					<input type="text" name="surname" id="surname" value="" class="text ui-widget-content ui-corner-all">
					<label for="Name">Name</label>
					<input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
					
					<input type="hidden" name="role" value="client">
				  <!-- Allow form submission with keyboard without duplicating the dialog button -->
				  <input type="submit" tabindex="-1">
				</fieldset>

			  </form>
			</div>
			</div>
			<p class="top"><a href="#">Return to Top</a></p>
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright &copy; 2016 <a href="#">Best Flight Company Ever</a> | Design by: <a 
href="http://www.weissmike.com">Mike Weiss</a></p>
</div>
</body>


</html>